/* Styling for all pages */
* {
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

/* #logo img{
  position: absolute;
  margin-top:5px;
  margin-left:15px;
  height: auto;
  width: auto;
  max-width: 40%;
  overflow: hidden;
} */
#logo {
  flex-basis: 20%;
  font-size: 0;
}

#navigationLinks {
    margin-left: auto;
}

.navbar {
    background-color: rgba(216, 226, 220, 1);
}

.navbar-brand {
    padding-left: 5rem;
    color: black;
    font-size: 1.75rem;
}

.nav-item {
    padding: 1rem;
}

.nav-link {
    color: black;
}

main {
  padding: 4rem;
}

.btn {
  background-color: rgba(216, 226, 220, 1);
  color: black;
  border: none;
  pointer-events: none; 
}

main h1{ /* Page header, ex:Appointment form for schedule page*/
  padding: 2rem;
}

/* Account Page */
#wrapper {
  padding-right: 250px;
  transition: all 0.4s ease 0s;
}
  
#sidebar-wrapper {
  margin-right: -250px;
  right: 250px;
  width: 250px;
  background: #CCC;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}
  
#page-content-wrapper {
  width: 100%;
}
  
.sidebar-nav {
  /* position: absolute; */
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}  

.form-group {
  padding: 1rem;
  padding-bottom: 2rem;
}

.card {
  padding-left: 10px;
  padding-right: 50px;
  border: none;
}  

/* Edit Profile Page */
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
}

/* Home Page */
.shop-img { /* home page shop images */
  height: 150px;
  width: 150px;
}

.line-homepg { /* home page titles */
  font-size: 1.7rem;
  font-weight: 400;
}

.row {
  padding-top: 1.2rem;
}

.content-row {
  padding-top: 1rem;
  font-weight: 300;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.card-subtitle {
  padding-top: 0.6rem;
  font-weight: 200;
  font-size: 0.9rem;
}

.to-portfolios {
  color: black;
  text-decoration: none;
}

/* Media Queries */
@media (max-width:767px) {
  #wrapper {
    padding-right: 0;
  }

  #sidebar-wrapper {
    right: 0;
  }

  #wrapper.active {
    position: relative;
    right: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }
}