/* Styling for all pages */
* {
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}
#navigationLinks{
    margin-left: auto;
}
.navbar{
    background-color: rgba(216, 226, 220, 1);
}
.navbar-brand{
    padding-left: 5rem;
    color: black;
    font-size: 1.75rem;
}
.nav-item{
    padding: 1rem;
}
.nav-link{
    color: black;
}
main{
  padding: 4rem;
}
.btn {
  background-color: rgba(216, 226, 220, 1);
  color: black;
  border: none;
  pointer-events: none; 
}

main h1{ /* Page header, ex:Appointment form for schedule page*/
  padding: 2rem;
}

/* Account Page */
#wrapper {
    padding-right: 250px;
    transition: all 0.4s ease 0s;
  }
  
  #sidebar-wrapper {
    margin-right: -250px;
    right: 250px;
    width: 250px;
    background: #CCC;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  }
  
  #page-content-wrapper {
    width: 100%;
  }
  
  .sidebar-nav {
    /* position: absolute; */
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @media (max-width:767px) {
  
      #wrapper {
        padding-right: 0;
      }
  
      #sidebar-wrapper {
        right: 0;
      }
  
      #wrapper.active {
        position: relative;
        right: 250px;
      }
  
      #wrapper.active #sidebar-wrapper {
        right: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
      }
    }   

.form-group {
  padding: 1rem;
  padding-bottom: 2rem;
}


.card {
    padding-left: 10px;
    padding-right: 50px;
    border: none;
}  

/* Edit Profile Page */
.custom-file-upload{
  display: inline-block;
  padding: 6px 12px;
}