/* Styling for all pages */

* {
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

/* Defaults for mobile */

main {
  padding: 4rem;
}

h1{ /* Page header, ex:Appointment form for schedule page*/
  padding: 2rem;
}

/* Navigation Bar */
.logoSize {
  width: 60px;
  height: 60px;
}

.logoFont{
  font-size: 2em;
}

.btn {
  background-color: rgba(216, 226, 220, 1);
  color: black;
  border: none;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.color-nav {
  background-color: rgba(216, 226, 220, 1);
}

/* Map Page */
.map {
  height: 670px; /* do not show the footer on mobile view */
  width: 100%;
}

/* Account Page */
.color-account {
  box-sizing: border-box;
  background-color: rgb(178, 179, 178);
}

.portfolio-card-size {
  width: 240px;
}

/* Edit Profile/Account Pages */
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
}

.form-group {
  padding: 1rem;
  padding-bottom: 2rem;
}

/* HomeLanding Page */
.shop-img { /* home page shop images */
  height: 150px;
  width: 150px;
}

.line-homepg { /* home page titles */
  font-size: 1.7rem;
  font-weight: 400;
}

.row {
  padding-top: 1.2rem;
}

.content-row {
  padding-top: 1rem;
  font-weight: 300;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.card-subtitle {
  padding-top: 0.6rem;
  font-weight: 200;
  font-size: 0.9rem;
}

/*
.to-portfolios {
  color: black;
  text-decoration: none;
}
*/

/* Portfolios */
.card-img-top {
  height: 350px;
  width: 240px;
  border-radius: 10px;
}

#card-row {
  padding-top: 4rem;
}

/* Footer */
.footer {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

/* Media queries for larger screens */

/* for screen size at least 768px */
@media (min-width: 768px){
  .logoSize{
    width: 30px;
    height: 30px;
  }

  .logoFont {
    font-size: 1em;
  }

  #root {
    height: 100%;
  }

  .map {
    height: 600px;
    width: 100%;
  }

  .navbar-nav{
    /* position:fixed; */
    right: 0;
  }

}

/* for screen size at least 992 */
@media (min-width: 992px){
  h1 {
      font-size: 2.5rem;
  }

  .line-homepg {
    font-size: 2.5rem;
  }

  .card-subtitle {
    font-size: 1.1rem;
  }

  .logoSize {
    width: 40px;
    height: 40px;
  }
  
  .logoFont{
    font-size: 1.7rem;
  }

  nav {
    font-size: 1.5rem;
  }

  .shop-img { /* home page shop images */
    height: 250px;
    width: 250px;
  }

  .map {
    height: 590px;
    width: 100%;
  }
}

/* for screen size at least 1200 */
@media (min-width: 1200px){
  .logoSize {
    width: 55px;
    height: 55px;
  }
  
  .logoFont{
    font-size: 2.2rem;
  }

  nav {
    font-size: 2rem;
  }

  .map {
    height: 580px;
    width: 100%;
  }
}

/* for screen size at least 1400 */
@media (min-width: 1400px){
}