/* Styling for all pages */
* {
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

/* Default for mobile */

#map {
  height: 300px;
  width: 400px;
}

.btn {
  background-color: rgba(216, 226, 220, 1);
  color: black;
  border: none;
  margin-left: 1rem;
}

.color-nav {
  background-color: rgba(216, 226, 220, 1);
}

.navPosition {
  /* display: inline-block; */
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
}

/* .fixPosition {
  flex-grow: 1;
} */

main {
  padding: 4rem;
}

h1{ /* Page header, ex:Appointment form for schedule page*/
  padding: 2rem;
}

/* Account Page */

.color-account {
  box-sizing: border-box;
  background-color: rgb(178, 179, 178);
}

.card {
  padding-left: 10px;
  padding-right: 50px;
}  

/* Edit Profile/Account Pages */
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
}

.form-group {
  padding: 1rem;
  padding-bottom: 2rem;
}

/* Home Page */
.shop-img { /* home page shop images */
  height: 150px;
  width: 150px;
}

.line-homepg { /* home page titles */
  font-size: 1.7rem;
  font-weight: 400;
}

.row {
  padding-top: 1.2rem;
}

.content-row {
  padding-top: 1rem;
  font-weight: 300;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.card-subtitle {
  padding-top: 0.6rem;
  font-weight: 200;
  font-size: 0.9rem;
}

.to-portfolios {
  color: black;
  text-decoration: none;
}

/* Map */
#map {
  height: 500px;
}

/* Portfolios */
.card-img-top {
  height: 350px;
  width: 240px;
  border-radius: 10px;
}

#card-row {
  padding-top: 4rem;
}

@media (min-width: 992px){
  h1{
      font-size:3rem;
  }
}
